{% block menu %}
    <ul>
    {% for item in menu %}
        {{ menu_item(item) }}
    {% endfor %}
    </ul>
{% endblock %}

{% block menu_item %}
    <li>
        {{ menu_link(item) }}
        {% if item.hasChildren %}
            {{ brammm_menu(item) }}
        {% endif %}
    </li>
{% endblock %}

{% block menu_link %}
    {% if item.uri %}
        {% set uri = item.uri %}
    {% else %}
        {% set uri = path(item.path) %}
    {% endif %}
    <a href="{{ uri }}">{{ item.name }}</a>
{% endblock %}