{% block menu %}
    {% if item.children %}
    <ul>
        {% for child in item.children %}
            {{ menu_item(child) }}
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block menu_item %}
    <li>
        {{ menu_link(item) }}
        {% if item.hasChildren %}
            {{ brammm_menu(item) }}
        {% endif %}
    </li>
{% endblock %}

{% block menu_link %}
    {% if item.uri %}
        {% set uri = item.uri %}
    {% else %}
        {% set uri = path(item.path) %}
    {% endif %}
    <a href="{{ uri }}">{{ item.name }}</a>
{% endblock %}