{% block menu %}
    {% if item.children %}
    <ul>
        {% for child in item.children %}
            {{ menu_item(child) }}
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block menu_item %}
    <li>
        {{ block('menu_link') }}
        {% if item.hasChildren %}
            {{ block('menu') }}
        {% endif %}
    </li>
{% endblock %}

{% block menu_link %}
    <a {{ block('link_attributes') }}>{{ item.name }}</a>
{% endblock %}

{% block link_attributes %}
{% spaceless %}

    {% if item.uri %}
        {% set uri = item.uri %}
    {% else %}
        {% set uri = path(item.path) %}
    {% endif %}

    href="{{ uri }}"

{% endspaceless %}
{% endblock %}